<body>
   <b>Types: {{#each types}}</b>
   <li>{{this}}</li>
   {{/each}}
   <br>
   <hr>

   <b>Syntax: {{#each syntax}}</b>
   <li>{{this}}</li>
   {{/each}}
   <br>
   <hr>

   <b>Features: {{#each features}}</b>
   <li>{{this}}</li>
   {{/each}}
   <br>
   <hr>

   <b>Libraries: {{#each libraries}}</b>
   <li>{{this}}</li>
   {{/each}}
   <br>
   <hr>

   <b>Tools: {{#each tools}}</b>
   <li>{{this}}</li>
   {{/each}}
   <br>
   <hr>

   <b>Community: {{#each community}}</b>
   <li>name: {{name}}</li><br>
   <li>type: {{type}}</li>
   {{/each}}
   <br>
   <hr>
   
</body>
