{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
     <main>
        <section>           
                {{> title data="Work history" big=true }}
            <div>
                <ul>
                {{#each works}}
                    <li>
                        <div>{{position}}</div>

                        <br>

                        <div>
                            {{duration.from}} - 
                            {{#if duration.to}} 
                            {{duration.to}} 
                            {{else}} 
                            (досі працюемо) 
                            {{/if}}
                            </div>

                        <br>

                        <div>{{> link text=company.name href=company.urk blank=true noline=true}}</div>

                        <br>
                        <br>
                        <div>
                           <strong> Projects ({{projectAmount}})</strong>
                        </div>
                        <br>
                        <ul>
                            {{#each projects}}
                            <li>
                                
                                <div>{{> link text=name href=urk blank=true noline=true}}</div>
                                <div>{{about}}</div>
                                <strong> Project stacks ({{stacksAmount}})</strong>
                                <div>
                                    {{#each stacks}}
                                    {{name}}
                                    {{/each}}
                                </div>

                                <strong> Project awards ({{awardsAmount}})</strong>
                                <div>
                                    {{#each awards}}
                                    {{name}}
                                    {{/each}}
                                </div>

                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                {{/each}}
                </ul>

            </div>
        </section>

   
    {{/with}} 

</div>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
