{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

<div>{{> nav}}</div>

<header class="m-5">
{{#with heading.name}}
<h1>{{firstname}} {{lastname}} {{project}}</h1>
{{/with}}
</header>

  <body>
             {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}  
  </body>

  <b>
        {{> footer social=footer.social firstname=header.name.firstname lastname=header.name.lasrname address=header.address}}
  </b>
</html>